{% extends 'base.html' %}


{% block content %}

<div class="jumbotron">
    <div class="container text-center">
      <h2>Explore Locations</h2>      
    </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/shorts/DFKt4MPhLK4"></iframe>
</div><br>

<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/shorts/uqKNU-unTgc"></iframe>
</div><br>

<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/shorts/j9TBU6L8oKc"></iframe>
  </div><br>
    

{% endblock content %}